/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* ================= */

.clear::after{
    content: "";
    display: table;
    clear: both;
}

.fl-l{
    float: left;
}

.fl-r{
    float: right;
}

/* ================= */

button{
    cursor: pointer
}

nav{
    width: 80%;
    display: block;
    margin: 0 auto;
    padding-top: 50px;
}

ul{
    list-style: none;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

footer{
    width: 100%;
    background-color: #2F2F30;
}

.grey{
    background-color: rgb(240, 240, 240);
}

.wrapper{
    width: 70%;
    margin: 0 auto
}

.m2{
    margin: 0 3%;
    color: white;
    font-size: 1em
}

.m3{
    width: 60%;
}

.titolo{
    width: 40%;
    margin: 5% auto;
    text-align: center;
    color: white;
}

.titolo h1{
    font-size: 3.5em;
    margin-bottom: 50px;
}

.titolo p{
    font-size: 1.2em
}

.titolo button{
    padding: 15px 30px;
    font-size: 1.1em;
    margin: 40px 10px;
    border: none;
    border-radius: 30px  
}

.fa-long-arrow-alt-down{
    margin-right: 10px;
}

.box{
    padding-top: 100px;
}

.black{
    background-color: black;
    color: white;
}

.white:hover{
    color: white;
    background-color: black;
}

.black:hover{
    color: black;
    background-color: white;
}

.img-txt{
    width: 100%;
}

.wave1{
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
}

.wave2{
    position: absolute;
    bottom: -80px;
    left: 0;
    width: 100%;
    transform: rotate(180deg)
}

.txt{
    width: 30%;
    margin-right: 100px;
}

.txt h1{
    font-size: 3em
}

.txt p{
    font-size: 1.3em;
    margin-top: 30px;
}

.big{
    width: 100%;
}

.big img{
    width: 100%
}

.wave3{
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
}

.box-sp{
    position: relative;
}

.sp{
    position: absolute;
    bottom:160px;
    left: 50%;
    transform: translateX(-50%)
}

.box-sp button{
    padding: 15px 30px;
    font-size: 1.3em;
    margin: 40px 20px;
    border: none;
    border-radius: 30px;
    background-color: #6969c7;
    color: white;
}

.box-sp button:hover{
    background-color: #3535cc
}

.foot-box{
    margin: 0 auto;
    padding-top: 100px;
    width: 70%;
    height: 100%;
}

.big{
    width: 25%;
}

.small{
    width: 18%
}
.foot-colums{
    display: inline-block;
    /* width: 15%; */
    /* height: 80%; */
    vertical-align: top;
}

.foot-colums h2, 
.foot-colums h4{
    color: #6969c7;
    margin-bottom: 30px
}

.foot-colums p{
    margin-top: 15px;
    color: white
}

.foot-colums p:hover{
    color: rgb(204, 204, 204);
    cursor: pointer;
}

.lingua{
    margin-top: 30px
}

.lingua img{
    width: 15%;
    vertical-align: middle
}

.lingua p{
    display: inline-block;
}

.social{
    margin-top: 30px;
}

.social img{
    width: 45px;
    height: 100%
}

footer hr{
    margin: 50px
}

.last p{
    display: inline-block;
    color: white;
    vertical-align: middle;
    padding: 10px 30px;
    background-color: #6969c7;
    border-radius: 20px;
}

.last p:hover{
    background-color: #3535cc
}

.last{
    padding-bottom: 50px
}

.img-txt,
.txt-img,
#last{
    padding: 100px 0;
}




#logo{
    margin-right: 190px;
    width: 90px
}

#m1{
    color: black;
    font-size: 1em;
    background-color: white;
    padding: 10px 20px;
    border-radius: 20px
}

#second{
    position: relative;
    margin: 80px 0
}

#last{
    text-align: center;
    margin-top: 100px;
    position: relative;
}

#last h1{
    font-size: 2.8em;
    margin-bottom: 30px;
}

#last h2{
    margin-top: 50px
}

#last p{
    font-size: 1.3em
}



