/* =================
    RULE
================= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

.fl-l{
    float: left;
}

.fl-r{
    float: right;
}

.block{
    width: 100%;
    height: 100vh;
    position: relative;
}

.button{
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1.3em;
    cursor: pointer;
    transition: all 200ms;
}

.button:hover{
    box-shadow: 10px 10px 15px rgba(0, 0, 0, .5);
}

.last-row .button:hover, .saluti .button:hover{
    box-shadow: 10px 10px 10px rgba(35, 35,  35, .5);
}
/* =================
    RULE
================= */

/* =================
    HEADER
================= */

.first{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    width: 70%;
    margin: 0px auto;
}

ul {
    list-style: none;
    padding: 30px 0 
}

li{
    line-height: 25px;
    margin: 0 20px;
    padding: 5px 10px;
    color: white;
    cursor: pointer;
}

.m1:hover{
    border-bottom: 2px solid white;
    padding-bottom: 0;
}

ul :nth-child(2){
    margin-left: 100px
}

ul :nth-child(1){
    margin-left: 0
}

ul :nth-child(7){
    margin: 0;
    background-color: white;
    border-radius: 1em;
    color: black;
    font-weight: bolder;
    transition: box-shadow 100ms;
    padding: 5px 20px
}

ul :nth-child(7):hover{
    color: rgb(57, 181, 230);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, .3);
}

.center-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
}

header p, header h1{
    color: white;
    text-align: center;
    margin: 20px 0;
}

header h1{
    font-size: 3em;
}

header p{
    font-size: 1.4em
}

.btn{
    text-align: center;
    margin: 50px 0 0 0;
}

.btn > .button{
    margin: 0 10px;
}

.white{
    background-color: white;
    border: none
}

.black{
    background-color: black;
    color: white;
    border: none
}
/* =================
    HEADER
================= */

/* =================
    MAIN
================= */

.center-box-main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
}

.foto-box, .txt-box-dx, .txt-box-sx{
    width: 49.8%;
    height: 100%;
    display: inline-block;
    vertical-align: middle
}

.foto-box img{
    width: 100%;
}

.txt-box-dx > p{
    padding: 0 0 0 300px;
    font-size: 1.5em;
    margin-top: 40px
}

.txt-box-dx > h1{
    padding: 0 0 0 300px;
    font-size: 3em
}

.txt-box-sx > p{
    padding: 0 300px 0 0;
    font-size: 1.5em;
    margin-top: 40px;
}

.txt-box-sx > h1{
    padding: 0 300px 0 0;
    font-size: 3em;
}

.txt-box-line, .foto-box-line{
text-align: center
}

.foto-box-line img{
    width: 100%;
}

.txt-box-line > p{
    font-size: 1.5em;
    padding-top: 50px;
}

.txt-box-line > h1{
    font-size: 3em;
    padding-top: 150px;


}

.saluti{
    background-color: rgb(228, 228, 228);
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 50px
}

.gray{
    background-color: rgb(228, 228, 228);
    height: 100vh;
}

main :nth-child(4){
    background-color: rgb(228, 228, 228);
    height: 1000px;
}

.saluti > button{
    margin-top: 30px;
    background-color: rgb(105, 105, 199);
    color: white;
    border: none;
}

/* =================
    MAIN
================= */

/* =================
    FOOTER
================= */

.block-footer{
    width: 100%;
    height: 80vh;
    background-color: rgb(46, 46, 46);
}

.footer-box{
    width: 80%;
    height: 80%;
    margin: 0 auto;
    vertical-align: middle;
    border-bottom: 1px solid white
}

.space{
    margin-right: 100px
}

.txt-footer{
    display: inline-block;
    width: calc(100% /5 - 25px);
    height: 90%;
    vertical-align: middle;
    color: white;
    padding-top: 60px;
}

.txt-footer img{
    width: 10%;
    margin: 20px 0;
    vertical-align: middle
}

.txt-footer > p{
    margin-top: 20px;
    font-weight: bold;
}

span{
    font-weight: bold;
    font-size: 1.5em;
    vertical-align: middle;
}

.big-title{
    font-size: 2.3em;
    color: rgb(139, 139, 243);
    font-weight: bolder;
}

.small-title{
    font-size: 1.5em;
    color: rgb(139, 139, 243);
    font-weight: bolder;
}

.social{
    width: 70%;
    margin-top: 20px;
}

.txt-footer > p:hover{
    color: rgb(204, 204, 204);
    cursor: pointer;
}

.last-row{
    width: 80%;
    margin: 30px auto 0 auto;
    height: 80px;
    position: relative;
}

.last-row img{
    margin-top: 5px;
}

.last-row > button{
    background-color: rgb(105, 105, 199);
    color: white;
    border: none;
    position: absolute;
    right: 0;
    font-size: .8em;
    font-weight: bolder;
}

.last-row > button, .last-row > img{
    display: inline-block;
    vertical-align: middle
}

/* =================
    FOOTER
================= */
